

.main
{
   width: 100%; 
   position: absolute;
   left: 0;
   top: 0;
   background-color:#002B2B;
   border-bottom: 5px solid #006666;
}
.center
{
    position: absolute;
    top: 10%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    
}
.formInput
{
    width:300px;
    height:30px;
    border-radius:10px;
    border: 1px solid #006666;
    text-indent:10px;
    position: relative;
}
#addButton
{
    width:400px;
    height:40px;
    border-radius:10px;
    border: 1px solid #006666;
    background: #006666;
    color:whitesmoke;
    font-family: sans-serif,monospace,fantasy;
    font-size: 14pt;
    
}
nav{
    text-align: center;
}
nav ul 
{
    width: 100%; 
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    display:block;
    text-align: center;
}     
nav ul li 
{
    text-align: center;
    float:left;
    display:list-item;
    list-style: none;   
    background-color:#002B2B;
    //border-bottom: 5px solid #006666;
}
nav ul li a 
{
    display:block;
    padding:15px 10px;  
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    font-family: 'Bree Serif', 'serif';
}
li a:hover 
{ 
    background-color: #006666; 
}
/* The Dropdown Styles */
/* =================== */
  
/* Hide Dropdowns by Default */
nav ul ul 
{
    display: none;
    position: absolute; top: 58px;
}    
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
    display:list-item;
}
     
/* Fisrt Tier Dropdown */
nav ul ul li
{
    width:170px;
    float:none;
    position: relative;
    border-bottom:none;
}
  
/* Second, Third and more Tiers */
nav ul ul ul li
{
    position: absolute relative;
    top:-58px; 
    left:170px;
}
nav ul ul
{
   display: none;
   position: absolute; top: 58px;
}
nav ul li:hover > ul 
{
   display:list-item;
}
/* Change this in order to change the Dropdown symbol */
li > a:after { content: ' »'; } 
li > a:only-child:after { content: ''; } 
html
{
    background-color: whitesmoke;
}

table td{
    padding-bottom:10px;
}

.forbiden{
    text-align:center;
}

.ui-button{
    border: 1px solid black;
    padding:15px;
    background-color:black;
    color:whitesmoke;
    font-size:20pt;
    font-weight:bold;
}

#cases{
    
}

.fp{
    
}

#Page1{width:100%;height:100%;}
#Page1-left{
    position:absolute;
    left:0;
    margin:0;
    margin-left:1%;
    width:35%;
    height:auto;
    border-right:2px solid grey;
}
#Page1-right{
    position:absolute;
    right:0;
    top:10%;
    margin:0;
    margin-right:-2%;
    width:65%;
    height:auto;
}
#cases{
    width: 80%;
}
#cases tr th{
    padding: 0.25rem;
    background-color:#006666;
    color:white;
    
}
#cases table{
    padding: 0.25rem;
    text-align: left;
    width:100%;
}
#cases tr td{
   padding: 0.25rem;
   text-align: left;
    
}

#users{
    width: 100%;
}
#users tr th{
    padding: 0.25rem;
    background-color:#006666;
    color:white;
    
}
#users table{
    padding: 0.25rem;
    text-align: left;
    width:100%;
}
#users tr td{
   padding: 0.25rem;
   text-align: left;
    
}

#search{
    width:60%;
    height:40px;
    margin-left:8%;
}

h1,h2{
    text-align:center;
}

.caseList{
    width:100%;
    overflow-x:hidden;
    height:600px;
}
.userList{
    width:100%;
    overflow-x:hidden;
    height:600px;
}

.right-content{
    position:absolute;
    width:90%;
    height:600px;
    overflow-x:hidden;
}
.right-content table{
    border-collapse: collapse;
    width: 100%;
}
.right-content table, .right-content table td{
    border:1px solid gray;
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

.table-header{
    font-family: fantasy,sans-serif;
    font-size:20pt;
    font-weight:bold;
    text-align:center;
}
.photos{
     
}

.highlight {
  background: yellow;
}


.pagedImages {
	border: 2px solid #CCC;
	font-size: .1px;
	height: 200px;
	margin: 0;
	overflow-x: auto;	/* fallback for IE8 and other browsers that do not support new CSS3 selectors */
	overflow-y: hidden;	/* fallback */
	padding: 0 0 20px 0;	/* fallback */
	position: relative;
	white-space: nowrap;
	width: 800px;
}

/* fallback overdrive */
head ~ body:nth-of-type(1):nth-last-of-type(1) .pagedImages {
	overflow: hidden;
	padding: 0;
}

.pagedImages > ul {
	background: #000;
	display: inline-block;
	line-height: 200px;
	margin: 0;
	padding: 0;
	text-align: center;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	width: 100%;
}

.pagedImages > ul > li {
	display: inline-block;
	font-size: 10pt;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 25%;
}

.pagedImages > ul > li > a:first-child {
	display: block;
}

.pagedImages > ul > li > a:first-child ~ * {
	display: none;
}

.pagedImages > ul > li > a > img {
	border: 0;
	display: inline-block;
	max-height: 400px;
	max-width: 400px;
	margin: -100px;
	opacity: .7;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	vertical-align: middle;
}

.pagedImages > ul > li:hover > a:first-child > img {
	opacity: 1;
	max-width: 200px;
	min-width: 200px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.pagedImages > input {
	display: none;
}

.pagedImages > label {
	background: rgba(0, 0, 0, .6);
	color: #FFF;
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: 200px;
	overflow: hidden;
	padding-left: 50px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 0;
	visibility: hidden;
	z-index: 1;
}

.pagedImages > label:hover {
	background: #FFF;
	color: #000;
}

.pagedImages > label:before {
	display: block;
	font-size: 30pt;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50px;
}

.pagedImages > input:nth-of-type(1):checked ~ ul:nth-of-type(1) { margin-left: 0; }
.pagedImages > input:nth-of-type(2):checked ~ ul:nth-of-type(1) { margin-left: -100%; }
.pagedImages > input:nth-of-type(3):checked ~ ul:nth-of-type(1) { margin-left: -200%; }
.pagedImages > input:nth-of-type(4):checked ~ ul:nth-of-type(1) { margin-left: -300%; }
.pagedImages > input:nth-of-type(5):checked ~ ul:nth-of-type(1) { margin-left: -400%; }
.pagedImages > input:nth-of-type(6):checked ~ ul:nth-of-type(1) { margin-left: -500%; }
.pagedImages > input:nth-of-type(7):checked ~ ul:nth-of-type(1) { margin-left: -600%; }
.pagedImages > input:nth-of-type(8):checked ~ ul:nth-of-type(1) { margin-left: -700%; }
.pagedImages > input:nth-of-type(9):checked ~ ul:nth-of-type(1) { margin-left: -800%; }

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8) {
	left: 0;
	border-right: 1px solid rgba(0, 0, 0, .5);
	visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8):before {
	content: '◀';
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9),
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1) {
	border-left: 1px solid rgba(0, 0, 0, .5);
	right: 0;
	visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9):before,
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1):before {
	content: '▶';
}

.pagedImages > ul > li:target {
	background: rgba(0, 0, 0, .8);
	cursor: default;
	height: 100%;
	font-size: 12pt;
	left: 0;
	line-height: 125%;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	white-space: normal;
	z-index: 2;
}

.pagedImages > ul > li:target > a:first-child {
	display: inline;
}

.pagedImages > ul > li:target > a:first-child ~ * {
	background: #FFF;
	border-radius: 2em;
	display: block;
	margin: 1em auto;
	padding: 1.5em;
	text-align: left;
	width: 30em;
}

.pagedImages > ul > li:target > a:first-child > img {
	margin: 1em;
	opacity: 1;
	max-height: 400px;
	max-width: 400px;
	-webkit-transition: none;
	transition: none;
}